.list-group-item {
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.list-group-item:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.35);
}

.list-group-item:first-child {
  border-top-right-radius: 0px;
}
