<h1>
  <img src="./img/nadupany-fanusik.png" alt="Nadupaný fanúšik" class="nadupany-fanusik" width="523" height="214">
</h1>

<div class="menu-text">
  <h3>Cieľ hry</h3>
  <p>Bla bla "Nadupaný fanúšik" je správne odpovedať na čo najväčší počet za sebou nasledujúcich otázok. Cieľom hry je "Nadupaný fanúšik" je správne odpovedať na čo najväčší počet za sebou nasledujúcich otázok.</p>
</div>

<div class="button-list small-text button-list-vertical">
  <button (click)="onNavigate('kviz')">Chcem hrať</button>
  <button (click)="onNavigate('vysledky')">Výsledky</button>
  <button (click)="onNavigate('vyhry')">Výhry</button>
  <button (click)="onNavigate('pravidla')">Pravidlá súťaže</button>
</div>
