<div id="question" *ngIf="question" data-question-id="question?id">
  <div class="question-text">
    <table style="width: 100%">
      <tr height="100">
        <td style="font-size:35px;font-weight:bold" width="120">{{remainingTime}}</td>
        <td style="padding-left:20px;padding-right:50px">{{question?.question}}</td>
      </tr>
    </table>
  </div>

  <div class="button-group">
    <div class="button-list button-list-answers">
      <button data-answer="1" class="small-text" (click)="onCheckAnswer($event)">{{question?.answer1}}</button>
      <button data-answer="2" class="small-text" (click)="onCheckAnswer($event)">{{question?.answer2}}</button>
    </div>
    <div class="button-list button-list-answers">
      <button data-answer="3" class="small-text" (click)="onCheckAnswer($event)">{{question?.answer3}}</button>
      <button data-answer="4" class="small-text" (click)="onCheckAnswer($event)">{{question?.answer4}}</button>
    </div>
  </div>
</div>
