.list-group-item {
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.list-group-item:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.35);
}

.list-group-item:first-child {
  border-top-right-radius: 0px;
}

#users-list-container {
  max-height: 165px;
  overflow-y: scroll;
  margin-bottom: 15px;
}

#questions-list-container {
  max-height: 390px;
  overflow-y: scroll;
  margin-bottom: 15px;
}

#user-detail {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.thumbnail {  
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
  .thumbnail .caption {
    color: #fff;
  }

.nav-tabs > li:hover > a,
.nav-tabs > li.active > a {
  color: #555;
}
.nav-tabs > li > a {
  color: #fff;
}