<div style="position:absolute;color:#fff; overflow: visible; pointer-events: none; font-size: 15px; text-align:left">
  <p style="font-family: 'Lucida Console', 'Courier New', monospace;" *ngFor="let message of debugMessages">{{message}}</p>
</div>

<h1>
  <img src="./img/nadupany-fanusik.png" alt="Nadupaný fanúšik" class="nadupany-fanusik">
  <!-- <img src="./img/nadupany-fanusik.png" alt="Nadupaný fanúšik" class="nadupany-fanusik" width="523" height="214"> -->
</h1>
<br><br><br>
<div class="button-list button-list-vertical">
  <button *ngIf="!isLoggedIn"  (click)="onLogin()">Prihlásiť sa cez FB</button>
  <button *ngIf="isLoggedIn"   (click)="onNavigate('menu')">Vstúpiť do hry</button>

  <!-- <button (click)="onNavigate('menu')">Vstúpiť do hry</button> -->
</div>
