<h1>
  <img src="./img/nadupany-fanusik.png" alt="Nadupaný fanúšik" class="nadupany-fanusik hidden-xs" width="523" height="214">
   <img src="./img/nadupany-fanusik.png" alt="Nadupaný fanúšik" class="nadupany-fanusik hidden-sm hidden-md hidden-lg">
</h1>

<div class="menu-text hidden-xs">
  <h3>Cieľ hry</h3>
  <p>Bla bla "Nadupaný fanúšik" je správne odpovedať na čo najväčší počet za sebou nasledujúcich otázok.</p>
</div>

<div class="button-list small-text button-list-vertical">
  <button (click)="onNavigate('kviz')">Chcem hrať</button>
  <button (click)="onNavigate('vysledky')">Výsledky</button>
  <button (click)="onNavigate('vyhry')">Výhry</button>
  <button (click)="onNavigate('pravidla')">Pravidlá súťaže</button>
</div>
