<h1>
  <img src="./img/vyhry.png" alt="vyhry" class="ceny">
</h1>

<div class="row">
  <div class="col-xs-12 col-md-offset-3 col-md-6">
    <div id="prizes-holder">
      <ul>
        <li>12x kartón Lina oblátok</li>
        <li>1x pánska bunda Rio2016</li>
        <li>1x dámska bunda Rio 2016</li>
        <li>1x tričko  Rio podpísané Dankou</li>
        <li>1x tričko Rio podpísané kanoistami</li>
        <li>5x čičmianske bežecké legíny ženské</li>
        <li>5x čičmianske bežecké legíny pánske</li>
        <li>5x ponožky modré s čičmianskym vzorom  pánske</li>
        <li>5x ponožky červené s čičmianskym vzorom dámske</li>
        <li>5x kompresné podkolienky na behanie s označením Slovak Olympic Team</li>
        <li>5x hrnček Rio</li>
        <li>5x tunel Čičmany</li>
        <li>5x uterák Rio</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="button-list small-text button-list-vertical col-xs-12">
    <button (click)="onNavigate('menu')">Späť na úvod</button>
  </div>
</div>